* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f3fb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 20%;
  background-color: #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header p {
  font-size: 11.5px;
  margin: 5px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: #6d6e70;
  font-size: 11.5px;
}

.main-content {
  width: 80%;
  padding: 30px;
  background-color: #f1f2f7;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
}

.edit-icon {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #094779;
}

.divider {
  width: 75%;
  border-top: 2px solid #094779;
  margin: 0 10px;
}

.header-right {
  font-size: 14px;
  color: #6d6e70;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right .save-button {
  background-color: #094779;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
}

.label-button {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #094779;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-row {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-group label {
  font-size: 14px;
  color: #000000;
}

.input-group select,
.input-group input,
.input-group textarea {
  font-size: 14px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button,
.next-button {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancel-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  box-shadow: inset 0 0 0 0.5px #919191;
}

.next-button {
  background-color: #094779;
  color: white;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

.header-one {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 40px;
}

.header-two {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

.menu-icon {
  font-size: 24px;
  color: #57595b;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding-top: 100px;
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.check-icon {
  margin: 20px auto;
  background-color: #66cc66;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
}

.check-icon i {
  font-size: 36px;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000000;
}
